@import url ('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;')
 

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Poppins', sans-serif;

 }

 .container{
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	text-align: center;
 	margin: 60px 20px 0 20px
 }
 .container  .heading h3{
 	width: 41%;
 	padding-bottom: 20px;


 }

 .container  .heading h3{
 	font-size: 3em;
 	font-weight: bolder;
 	

 }

 .container  .heading h3 span{
 	font-weight: 100;
 	
 }
 .container .box{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: center
 }
 .container .box .dream{
 	display: flex;
 	flex-direction: column;
 	width: 75%;
 }
 .container .box .dream img{ 
 	width: 98%;
 	padding-bottom: 15px;
 	border-radius: 5px;
 }

 .container .btn{
 	margin: 40px 0 70px;
 	background: #222;
 	padding : 15px 40px ;
 	border-radius: 5px;

 }
 .container .btn z{
 	color: #fff ;
 	font-size: 1.2em;
 	text-decoration: none;
 	font-weight: bolder;
 	letter-spacing: 3px;

 }
 

 @media only screen and (max-width: 769px){
 	.container .box{
 		display: flex;
 		flex-direction: column;
 		

 	}
.container .box .dream{
 	width: 100%;
 }






